@font-face {
	font-family: 'alternate';
	font-weight: normal;
	font-style: normal;
	src: url('https://www.urbecom.com/css/fuentes/AlternateGothic.woff') format('woff');
}
@font-face {
	font-family: 'IconWeb';
	font-weight: 400;
	font-style: normal;
	src: url('https://www.urbecom.com/css/fuentes/IconWeb.woff') format('woff');
}
@font-face {
	font-family: 'Aleo';
	font-weight: 400;
	font-style: normal;
	src: url('fuentes/Aleo-N.woff') format('woff');
}
@font-face {
	font-family: 'Aleo';
	font-weight: 400;
	font-style: italic;
	src: url('fuentes/Aleo-NI.woff') format('woff');
}
@font-face {
	font-family: 'Aleo';
	font-weight: 600;
	font-style: normal;
	src: url('fuentes/Aleo-B.woff') format('woff');
}
@font-face {
	font-family: 'Aleo';
	font-weight: 600;
	font-style: italic;
	src: url('fuentes/Aleo-BI.woff') format('woff');
}