.iconHome {
	&:before {
		content: "\e900";
	}
}
.iconCerrar {
	&:before {
		content: "\e90c";
	}
}
.iconFlechaTop {
	&:before {
		content: "\e901";
	}
}
.iconFlechaRight {
	&:before {
		content: "\e902";
	}
}
.iconFlechaBottom {
	&:before {
		content: "\e903";
	}
}
.iconFlechaLeft {
	&:before {
		content: "\e904";
	}
}
.iconIconoMenu {
	&:before {
		content: "\e905";
	}
}

.iconFacebook {
	&:before {
		content: "\e90d";
	}
}
.iconTwitter {
	&:before {
		content: "\e90e";
	}
}
.iconWordpress {
	&:before {
		content: "\e90f";
	}
}
.iconBlog {
	&:before {
		content: "\e910";
	}
}
.iconInstagram {
	&:before {
		content: "\e911";
	}
}
.iconYoutube {
	&:before {
		content: "\e912";
	}
}
.iconWhatsapp {
	&:before {
		content: "\e913";
	}
}
.iconLinkedin {
	&:before {
		content: "\e914";
	}
}
.iconPinterest {
	&:before {
		content: "\e915";
	}
}
.iconMenuRedes {
	&:before {
		content: "\e916";
	}
}
.iconEstrella {
	&:before {
		content: "\e918";
	}
}
.iconFecha {
	&:before {
		content: "\e919";
	}
}